@import "../../styles/global.scss";

.wrap{
  padding: {
    top: $padding-container-large;
    bottom: $padding-container-large;
  }
}

.container{
  max-width: 70%;
  margin: 0 auto;
}

.titleBox{
  margin: {
    bottom: 2.5rem
  }
}

.title{
  text-align: center;
  font: {
    size: $font-size-title;
    weight: bold;
  }
}
