@import "../../styles/global.scss";

.wrap{
  display: flex;
}

.goToLevelTest{
  display: flex;
  align-items: center;
  width:100%;
  padding: {
    top: $padding-container-large;
    bottom: $padding-container-large;
  }
}

.container{
  max-width: 70%;
  margin: 0 auto;

}

.titleBox{
  margin: {
    bottom: 2.5rem
  }
}

.title{
  text-align: center;
  font: {
    size: $font-size-title;
    weight: bold;
  }
}

.buttonBox{
  display: flex;
  justify-content: center;
}

@include desktop{
  .goToLevelTest{
    width:100%;
    background-color: $tertiary-background-color;
    padding: {
      top: $padding-container-large;
      bottom: $padding-container-large;
    }
  }

  .buttonBox{
    display: block;
  }

  .title{
    text-align: left;
  }

  .desktopImg{
    width: calc(100% - 454px);
    max-width: 1320px;
    max-height: 600px;
    height: auto;
  }
}

