@import "../../styles/global.scss";

.wrap{
  padding: {
    top: $padding-container-large;
    left: $padding-container-default;
    right: $padding-container-default;
  }
}

.container{
  width: 70%;
  margin: 0 auto;
}

.titleBox{
  margin: {
    bottom: 1.5rem;
  }
}

.title{
  text-align: center;
  font: {
    size: $font-size-title;
    weight: bold;  
  }
}

.categoryCard{
  margin: {
    bottom: $padding-container-default;
  }

  & img{
    display: block;
    margin: 0 auto;
  }
}

.categoryCardTitle{
  text-align: center;
  font-size: $font-size-subTitle;
  margin: {
    top: $padding-container-tiny;
  }
}

@include tablet{

  .titleBox{
    margin: {
      bottom: 2.5rem;
    }
  }

  .categoryBox{
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

@include desktop{

  .container{
    width: 70%;
    margin: 0 auto;
    max-width: 52.5rem;
  }

  .titleBox{
    margin: {
      bottom: 2.5rem;
    }
  }

  .categoryBox{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}