@import "../../styles/global.scss";

.button{
  padding: $padding-button-small;
  background-color: white;
  border-radius: $border-radius-small;
  border: 1px solid $primary-color;
  color: $primary-color;
}

// type
.positive{
  background-color: $positive-color;
  color: white;
}

.negative{
  background-color: $negative-color;
  color: white;
}

.primary{
  border:none;
  background-color: $primary-color;
  color: white;
}

// size
.large{
  padding: $padding-button-large;
  border-radius: $border-radius-default;
  font: {
    size: $font-size-subTitle;
  }
}

// display
.block{
  width: 100%;
}
