@import "../../styles/global.scss";

.desktopNav{
  display: flex;
  align-items: center;

  & a{
    cursor: pointer;
    padding: 0.5rem 1rem;
    color: $content-accent-color;
  }
}

@include upToTablet{
  .desktopNav{
    display: none;
  }
}